* {
  box-sizing: border-box;
}

.card-title-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title {
  font-size: 2vw;
  font-family: "Malgun Gothic", -apple-system, sans-serif, Arial;
  font-weight: bold;
}

.card-title.vertical {
  font-size: 5vw;
}

.parallax-card-layers {
  width: 40vw;
  height: 25vw;
}

.parallax-card-layers.vertical {
  width: 80vw;
  height: 50vw;
}

.property {
  bottom: 4vw;
  font-size: 1vw;
  opacity: 0.5;
}

.property.vertical {
  bottom: 8vw;
  font-size: 2vw;
}

.value {
  font-size: 1.5vw;
}

.value.vertical {
  font-size: 3vw;
}

.left {
  left: 2vw;
}

.bottom {
  bottom: 2vw;
}

.right {
  right: 2vw;
}

.top {
  top: 2vw;
}

.mark {
  height: 4vw;
}

.left.vertical {
  left: 4vw;
}

.bottom.vertical {
  bottom: 4vw;
}

.right.vertical {
  right: 4vw;
}

.top.vertical {
  top: 4vw;
}

.mark.vertical {
  height: 8vw;
}

.absolute {
  position: absolute
}

html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
    sans-serif;
  position: fixed;
  overflow: hidden;
}

#card {
  background: rgba(0, 0, 0, 0);
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#card>div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card>div>div {
  box-shadow: 10px 10px 20px 20px #24242499;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 80vw;
  max-height: 80vh;
  will-change: transform;
  border-radius: 5vw;
}

#card>div>div.card {
  background-color: rgba(255, 255, 255, 0);
  min-width: 40vw;
  min-height: 25vw;
}

#card>div>div.iframe {
  background-color: rgba(255, 255, 255, 1);
  min-width: 70vw;
  box-shadow: 0 12.5px 40px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  min-height: 60vh;
}

.react_tinylink_card {
  margin-top: 10% !important;
  margin-bottom: 10% !important;
  margin-left: 10% !important;
  margin-right: 10% !important;
}

@import url('https://fonts.googleapis.com/css?family=MalgunGothic&display=swap');